body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #0f1724;
  color: #fff;
}

/* HEADER */
.top-header {
  height: 60px;
  background: #111a2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.logout-btn {
  color: #fff;
  text-decoration: none;
  background: #ff4343;
  padding: 8px 15px;
  border-radius: 6px;
}

/* LAYOUT */
.dashboard-container {
  display: flex;
  height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #d3d4d5;
  padding: 20px 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 12px 20px;
  cursor: pointer;
  color: #7699d0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-item.active,
.menu-item:hover {
  background: rgba(236, 233, 233, 0.721);
  border-left: 4px solid var(--color);
  color: #fff;
}

/* ICONS */
.icon {
  width: 20px;
  height: 20px;
}

/* CONTENT AREA */
.content-area {
  flex: 1;
  padding: 25px;
  overflow-y: scroll;
}

.panel-box {
  background: #d2d2d4;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

textarea,
input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #d6d7d7;
  border: 1px solid #3a4a6e;
  border-radius: 6px;
  color: #fff;
}

button {
  background: #1877f2;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

pre {
  background: #cccdd2;
  padding: 15px;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
}
